.country-container 
    margin:0 auto
    width:50%
    padding-top:20px
.item1  
  grid-area: details
.item2  
  grid-area: flag

.grid-container 
  display: grid
  grid-template-areas:"details details flag flag""details details flag flag"
  grid-gap: 10px
.grid-container > div 
  background-color: lightblue
  padding: 20px 0
  font-size: 30px
.main-list > li
    padding: 10px
    list-style-type: none
    color: brown
    font-family: monospace

.country-btn
    border: none
    height: 50px
    width: 200px
    padding: 10px
    border-radius: 0px 20px 0px 20px
    margin-bottom: 20px
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1))
    font-size: 17px
    font-family: emoji
    cursor: pointer

    